// This is the single file output by sass. It is intended to ONLY @import other files.


// 1 - TOOLS
//@import '1-tools/bourbon/bourbon'
@import '_tools/fonts'
@import '_tools/normalize'
@import '_tools/vars'


// 2 - BASICS
@import '_basics/body-element'
@import '_basics/selection-colors'
@import '_basics/links'
@import '_basics/typography'
@import '_basics/example-buttons'


// 3 - Modules
@import '_modules/example-module-name-lockup'
@import '_modules/example-fork-tag'
@import '_modules/example-flex-video'


// 4 - pages
@import '_pages/example-page-home'

/* uncss:ignore */
#body
	display: flex
	font-style: italic
	font-size: 13px
	font-weight: bold

/* uncss:ignore start */

/* all rules in here will be ignored */

/* uncss:ignore end */
